.NavBaritems{
    /*background-color: rgb(212, 232, 244,0.5);*/
    background-color: rgb(255, 106, 0,0.2);
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content:center ;
    text-size-adjust:1em;
    position: sticky;
}
.navbar-logo{
    /*background-color: azure;*/
    width: 30%;
    height: 190px;
    display: flex;
    justify-content: center;
}
img{
    /*height: 10%;
    width: 10%;*/
}
.nav-menu{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    width:70%;
    /*background-color: azure;*/
    align-self:end;
    margin-top: 0px;
    
    
}


